<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4149757f-4dd2-4120-8537-5b5ec4201182/resourceGroups/DonorSystem2023ResourceGroup/providers/Microsoft.Web/sites/DonorSystem2023</ResourceId>
    <ResourceGroup>DonorSystem2023ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://donorsystem2023.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>donorsystem2023.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DonorSystem2023</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$DonorSystem2023</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=donorsystemdatabasedatabaseserver.database.windows.net,1433;Initial Catalog=&quot;Donor System_database&quot;;User ID=group26;Password=donor@01" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Donor_System.Models.ApplicationDbContext, Donor System" MigrationConfiguration="Donor_System.Migrations.Configuration, Donor System" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=donorsystemdatabasedatabaseserver.database.windows.net,1433;Initial Catalog="Donor System_database";User ID=group26;Password=donor@01</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>