<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c659c2ca-ef12-40b1-8e19-783d6dcf359c/resourcegroups/DonorSystemresourceGroup/providers/Microsoft.Web/sites/DonorSystem20231104091625</ResourceId>
    <ResourceGroup>DonorSystemresourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://donorsystem20231104091625.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>donorsystem20231104091625.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DonorSystem20231104091625</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$DonorSystem20231104091625</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=donorsystemdbserver2.database.windows.net,1433;Initial Catalog=&quot;Donor System_db&quot;;User ID=donor;Password=Password@01" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Donor_System.Models.ApplicationDbContext, Donor System" MigrationConfiguration="Donor_System.Migrations.Configuration, Donor System" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=donorsystemdbserver2.database.windows.net,1433;Initial Catalog="Donor System_db";User ID=donor;Password=Password@01</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>